<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supets.pet.ledview">

    <!-- 注册使用短信发送和接收功能 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 指定接收系统广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 使用网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 使用WIFI权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.supets.pet.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.supets.pet.module.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.supets.pet.module.led.SmsActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.supets.pet.module.led.TimeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.supets.pet.module.led.WeatherInfoActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.supets.pet.module.sensor.CompassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.module.sensor.LevelVialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.module.sensor.RotationLedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.module.led.DateTimeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.supets.pet.module.led.BusActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.supets.pet.module.sensor.LightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.supets.pet.module.led.LCD1602Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.supets.pet.bcd.GraphicesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.supets.pet.module.ttl.D74Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.module.ttl.D7400Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.module.ttl.D74138Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.module.ttl.D74151Activity"
            android:screenOrientation="portrait" />
        <!-- 静态注册系统短信广播接收器 -->
        <receiver android:name="com.supets.pet.sms.SmsRecerver">
            <!-- 系统短信广播拦截器 -->
            <!-- 设置短信监听的优先级别最高 -->
            <intent-filter android:priority="1000">
                <!-- 指定系统接收短信时广播的action -->
                <!-- 指定该广播接收器具有处理短信广播的能力 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>